<div id="dvBanner">
    <div class="row">
        <div class="col-md-12">
            <h1>Kho Giao Diện</h1>
        </div>
        <div class="col-md-12">
            <h4>Bizweb giúp bạn xây dựng website bán hàng chuyên nghiệp. Giao diện cực đẹp thể hiện cá tính của bạn.</h4>
        </div>
    </div>
</div>
