<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-xs-6 col-sm-3 col-md-2 dvfooter">
                    <div class="share fl">
                        <div class="item facebook">
                            <a rel="nofollow" target="_blank" href="http://www.facebook.com/bizwebvietnam">
                                Facebook
                            </a>
                        </div>
                        <div class="item youtube">
                            <a rel="nofollow" target="_blank" href="http://www.youtube.com/user/bizwebvietnam">
                                Youtube
                            </a>
                        </div>
                        <div class="item forum">
                            <a target="_blank" href="http://forum.bizweb.vn/?_ga=1.229982556.1184659820.1430727814">
                                Diễn đàn
                            </a>
                        </div>
                        <div class="item blog">
                            <a target="_blank" href="http://blog.bizweb.vn/?_ga=1.153953016.1184659820.1430727814">
                                Blog
                            </a>
                        </div>
                    </div>
                </div>
                <div class=" col-xs-6 col-sm-3 col-md-3 dvfooter">
                    <div class="pages fl">
                        <h4>Bizweb.vn</h4>
                        <ul>
                            <li>
                                <a href="/gioi-thieu-bizweb.html">Giới thiệu Bizweb</a>
                            </li>
                            <li>
                                <a href="/tinh-nang-noi-bat.html">Tính năng nổi bật</a>
                            </li>
                            <li>
                                <a href="/kho-giao-dien.html">Kho giao diện</a>
                            </li>
                            <li>
                                <a href="/bang-gia.html">Bảng giá</a>
                            </li>
                            <li>
                                <a href="/website-tham-khao.html">Website tham khảo</a>
                            </li>
                            <li>
                                <a href="/tro-giup/huong-dan-hinh-thuc-thanh-toan-c9.html">Hình thức thanh toán</a>
                            </li>
                            <li>
                                <a href="/tro-giup/tong-quan-ve-bizweb-c2.html#item_15">
                                    Quy định sử dụng
                                </a>
                            </li>
                            <li>
                                <a href="/tro-giup/tong-quan-ve-bizweb-c2.html#item_16">
                                    Chính sách bảo mật
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 dvfooter">
                    <div class="cooperation fl">
                        @*<h4>Bizweb Blog</h4>
                <ul>
                    <li>
                        <a target="_blank" href="http://blog.bizweb.vn/kinh-doanh-online/">Kinh doanh online</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://blog.bizweb.vn/ban-moi-bat-dau/">Bạn mới bắt đầu?</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://blog.bizweb.vn/lam-website-ban-hang/">Làm website bán hàng</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://blog.bizweb.vn/van-hanh-tang-doanh-so/">Vận hành &amp; Tăng doanh số</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://blog.bizweb.vn/category/tin-bizweb/">Tin Bizweb</a>
                    </li>
                    <li>
                        <a target="_blank" href="http://blog.bizweb.vn/bizweb-magazine-so-2-tim-kiem-va-cham-soc-khach-hang/">Bizweb magazine</a>
                    </li>
                </ul>
                <br>*@
                        <h4>Dịch vụ</h4>
                        <ul>
                            <li>
                                <a href="/dang-ky-ten-mien.html">Đăng ký tên miền</a>
                            </li>
                            <li>
                                <a href="/ten-mien-mien-phi.html">Tên miền miễn phí</a>
                            </li>
                            <li>
                                <a href="/dich-vu-email-doanh-nghiep.html">Dịch vụ Email</a>
                            </li>
                            <li>
                                <a href="/thiet-ke-do-hoa.html">Thiết kế đồ họa</a>
                            </li>
                            <li>
                                <a href="/website-theo-nganh-nghe.html">Thiết kế web đa ngành</a>
                            </li>
                            <li>
                                <a href="/dich-vu-quang-cao-google-adwords.html">Quảng cáo Google Adwords</a>
                            </li>
                            <li>
                                <a title="sapo" href="/phan-mem-quan-ly-ban-hang.html">Phần mềm quản lý bán hàng</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-4 dvfooter">
                    <div class="contact fr">
                        <h4>Thông tin liên hệ</h4>
                        <div>
                            TRUNG TÂM DỊCH VỤ TRỰC TUYẾN<br>
                            CÔNG TY CỔ PHẦN CÔNG NGHỆ DKT
                        </div>
                        <div>
                            <i>Trụ sở:</i><br>
                            <ul>
                                <li>
                                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                    Tầng 4, Tòa nhà Hanoi Group<br>
                                    Số 442 Đội Cấn, P.Cống Vị, Q.Ba Đình, Hà Nội
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                                    (04) 6674 2332 -
                                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                                    (04) 3786 8904
                                </li>
                            </ul>
                        </div>
                        <div>
                            <i>Chi nhánh TP Hồ Chí Minh:</i><br>
                            <ul>
                                <li>
                                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                    Lầu 3, Tòa nhà Lữ Gia<br>
                                    Số 70 Lữ Gia, P.15, Q.11, TP Hồ Chí Minh
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                                    (08) 6680 9686 -
                                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                                    (08) 3866 6276
                                </li>
                            </ul>
                        </div>
                        <div>
                            <i style="color: #2194d2;">Hỗ trợ ngoài giờ HC &amp; Thứ 7, Chủ nhật:</i><br>
                            <ul>
                                <li>
                                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                                    0934 515 339
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                    <a href="mailto:support@bizweb.vn"><i>support@bizweb.vn</i></a>
                                </li>
                            </ul>
                        </div>
                        @*<div class="sk">
                    <span>Sản phẩm đạt danh hiệu Sao Khuê năm 2012<br> và Nhân tài Đất Việt 2013</span>
                </div>*@
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-sm-4 col-md-3 dvfooter" style="max-width: 300px;">
                <form method="POST" accept-charset="UTF-8" action="/">
                    <div class="subscription">
                        <h5>Đăng ký nhận bản tin khuyến mại </h5>
                        <div class="input-group">
                            <input id="search" type="text" name="search" class="form-control" placeholder="Nhập từ khóa cần tìm" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" id="btnSearch">
                                    Đăng ký
                                </button>
                            </span>
                            @*<input id="Submit1" type="submit" value="submit" />*@
                        </div><!-- /input-group -->
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="copyright">
        <div class="content">
            &copy; Copyright 2008 - 2015 &nbsp;&nbsp;&bull;&nbsp;&nbsp; Bizweb.vn - Giải pháp thiết kế web bán hàng Số 1 Việt nam
        </div>
    </div>
</div>