<div id="header">
    <div class="menu-icons">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="col-sm-4 menu_item">
                        <a href="#">
                            <div class="circle img-market"></div>
                            <div class="menu_title">
                                <span>Chợ ứng dụng</span>
                            </div>
                            <div class="cmn-t-underline"></div>
                        </a>
                    </div>
                    <div class="col-sm-4 menu_item">
                        <a href="#">
                            <div class="circle img-bunker"></div>
                            <div class="menu_title">
                                <span>Kho giao diện</span>
                            </div>
                            <div class="cmn-t-underline"></div>
                        </a>
                    </div>
                    <div class="col-sm-4 menu_item">
                        <a href="#">
                            <div class="circle img-service"></div>
                            <div class="menu_title">
                                <span>Dịch vụ</span>
                            </div>
                            <div class="cmn-t-underline"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>