<div id="header">
    <div class="menu-icons">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-sm-3 menu_item">
                        <a href="#">
                            <div class="circle"><h3>1</h3></div>
                            <div class="menu_title">
                                <span>Chợ ứng dụng</span>
                            </div>
                            <div class="cmn-t-underline"></div>
                        </a>
                    </div>
                    <div class="col-sm-3 menu_item">
                        <a href="#">
                            <div class="circle"><h3>2</h3></div>
                            <div class="menu_title">
                                <span>Kho giao diện</span>
                            </div>
                            <div class="cmn-t-underline"></div>
                        </a>
                    </div>
                    <div class="col-sm-3 menu_item">
                        <a href="#">
                            <div class="circle"><h3>3</h3></div>
                            <div class="menu_title">
                                <span>Dịch vụ</span>
                            </div>
                            <div class="cmn-t-underline"></div>
                        </a>
                    </div>
                    <div class="col-sm-3 menu_item">
                        <a href="#">
                            <div class="circle"><h3>4</h3></div>
                            <div class="menu_title">
                                <span>Dịch vụ</span>
                            </div>
                            <div class="cmn-t-underline"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>