<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                @*<h4 class="modal-title" id="myModalLabel">Modal title</h4>*@
            </div>
            <div class="modal-body text-center">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <h3>Tạo website bán hàng miễn phí trong 30s</h3>
                            <p>Đã có hơn 10.000 khách hàng tin tưởng và sử dụng Bizweb, bạn có muốn trải nghiệm miễn phí Bizweb miễn phí 15 ngày không</p>
                        </div>
                    </div>
                    <div class="form-group dvmodal">
                        <div class="col-xs-8">
                            <input type="text" placeholder="Nhập tên của hàng của bạn" class="form-control" />
                        </div>
                        <div class="col-xs-4">
                            <button id="btnSearch" type="button" class="btn btn-success btn-block">
                                Dùng thử miễn phí
                            </button>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <h3 style="margin-top: 0;">Bạn đã có website tại Bizweb</h3>
                    </div>
                    <div class="form-group dvmodal">
                        <div class="col-xs-8">
                            <input type="text" placeholder="Đường dẫn của website" class="form-control" />
                        </div>
                        <div class="col-xs-4">
                            <button id="btnLogin" type="button" class="btn btn-primary btn-block">
                                Đăng nhập
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>*@
        </div>
    </div>
</div>
