@{
    ViewBag.Title = "Tìm kiếm Theme";
}
<div class="page-header" style="margin-top: 0;">
    <h2>Kết quả tìm kiếm cho '@Html.Raw(ViewBag.Search)'</h2>
</div>
<div>
    @Html.Partial("/Themes/Portal/Shared/Views/Include/Themes.cshtml")
</div>
