<strong>Danh sách ngành nghề</strong>
@*<a class="btn btn-primary btn-xs pull-right" data-modal="" href="@Url.Action("Add")"><span class="glyphicon glyphicon-plus"></span></a>*@
<a href="@Url.Action("Add")" data-modal="" class="btn btn-primary btn-xs pull-right" title="Thêm"><span class='glyphicon glyphicon-plus'></span></a>